@import 'tailwindcss';

@theme {
  --color-cta: var(--cta);
  --color-cta-hover: var(--cta-hover);
  /* ... */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --font-display: var(--font-display);
  --font-roboto: var(--font-roboto);
  --background-pepper-pattern: var(--pepper-pattern);
}

:root {
  --color-cta: oklch(0.6409 0.1957 40.23);
  --color-cta-hover: oklch(0.5609 0.1957 40.23);
  --background: oklch(0.9796 0.0158 73.68);
  --foreground: oklch(0.2077 0.0398 265.75);
  --primary: oklch(0.2219 0.0162 11.75);
  --primary-light: oklch(0.3219 0.0162 11.75);
  --secondary: oklch(0.97 0.001 106.424);
  --muted: oklch(0.85 0.01 56.259);
  --pepper-pattern: radial-gradient(#94a3b8 1.5px, transparent 1.5px);
}
