@import 'tailwindcss';

@theme {
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-secondary: oklch(22% 0.008 308);
  --color-secondary-100: oklch(22% 0.008 308 / 0.1);
  --color-secondary-light: oklch(90% 0.01 325);
  --color-secondary-light-100: oklch(90% 0.01 325 / 0.1);
  --color-cta: var(--cta);
  --color-cta-hover: var(--cta-hover);
  --color-ctext: oklch(22% 0.008 308);
  --color-ctext-light: oklch(90% 0.01 325);
  /* ... */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --font-display: var(--font-display);
  --font-roboto: var(--font-roboto);
}

:root {
  --color-secondary-100: oklch(22% 0.008 308 / 0.1);
  --color-secondary-light: oklch(90% 0.01 325);
  --color-secondary-light-100: oklch(90% 0.01 325 / 0.1);
  --color-cta: oklch(0.6409 0.1957 40.23);
  --color-cta-hover: oklch(0.5609 0.1957 40.23);
  --color-ctext: oklch(22% 0.008 308);
  --color-ctext-light: oklch(90% 0.01 325);
  --background: oklch(1 0 0);
  --foreground: oklch(0.2077 0.0398 265.75);
  --primary: oklch(0.2219 0.0162 11.75);
  --primary-light: oklch(0.3219 0.0162 11.75);
  --secondary: oklch(0.97 0.001 106.424);
  --muted: oklch(0.85 0.01 56.259);
}
